<h1 >Centro del Conocimiento Jose Braulio Ayala Benavides</h1>
<h3>3166566525</h3>
<mat-divider></mat-divider>
<div class="container1">
<h2>Técnologias Usadas</h2>
<ul>
    <li>Html</li>
    <li>css</li>
    <li>Angular</li>
    <li>Angular FlexLayout</li>
    <li>Angular Material</li>
    <li>Typescrip</li>
    <li>Php</li>
    <li>Mysql</li>
    <li>Json server</li>
    <li>Postman</li>
    <li>API</li>

</ul>
</div>
<div class="container2">
    <h2>Instrucciones</h2>
    <ul>
        <li>Levantar el servicio de Angular con ng serve dentro de carpeta EduPruebaTec</li>
        <li>Levantar el servicio de server-Json en la carpeta cursos-server</li>
        <li>para ello Utilizar comando json-server --watch cat.json </li>
        <li>Ya teniendo levantado los datos ingresamos URL http://localhost:4200/cursos</li>
        <li>Vamos Al menu de Navegacion</li>
        <li>En el Home encontramos Lista de Tecnologias e Instrucciones</li>
        <li>Listar cursos lista todos los cursos</li>
        <li>Accedemos boton detalle nos muestra detalle del curso</li>
        <li>Listar Categorias nos lista los cursos agrupandolos por categoria</li>
        
    
    </ul>
    </div>
    <br>
    <br>
<img class="tamaño" src="assets/cursos/Universidad.jpg" >