<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">

        <mat-toolbar>
            <span>Menu</span>
            <span class="spacer"></span>
            <button mat-icon-button
                (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <a routerLink="./agregar"
                mat-list-item 
                (click)="sidenav.toggle()">
                <span>Home</span>
                <mat-icon mat-list-icon>home</mat-icon>
            </a>

            <a routerLink="./listado"
                mat-list-item 
                (click)="sidenav.toggle()">
                <span>Listado de Cursos</span>
                <mat-icon mat-list-icon>label</mat-icon>
            </a>
            <a routerLink="./buscar"
                mat-list-item 
                (click)="sidenav.toggle()">
                <span>Listar Categorias</span>
                <mat-icon mat-list-icon>search</mat-icon>
            </a>
        </mat-nav-list>

    </mat-sidenav>
    <mat-toolbar>
        <button mat-icon-button
            (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>

        <span class="spacer"></span>
        
        <button mat-icon-button
            (click)="sidenav.toggle()">
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
    
</mat-sidenav-container>